body {
    background-color: rgba(233, 226, 210, 255);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgba(246, 245, 240, 255), rgba(233, 226, 210, 255));
}

.header {
    padding: 15px;

}

.logo {
    width: 8%;
    height: 8%;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.header-right {
    float: right;
    text-align: right;
    line-height: 10px;

}

.header a {
    text-align: right;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
   
    border-radius: 4px;
    color: rgba(30, 136, 46, 255);
}

.header a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(101, 175, 77, 255), rgba(30, 136, 46, 255));
}

.header a.active {

    color: white;
    background-image: linear-gradient(rgba(101, 175, 77, 255), rgba(30, 136, 46, 255));
}

.sdt {
    display: inline;
}

.nav {

    padding: 0px;


    background-color: #ddd;
    background-image: linear-gradient(rgba(101, 175, 77, 255), rgba(30, 136, 46, 255));
    border-radius: 8px;
}

.nav a {
border: 1px;
    padding: 10px;
    padding-bottom: 11px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
    font-weight: bold;
    text-align: center;




}

.nav a:hover {
    background-color: #ddd;
    
    color: rgba(30, 136, 46, 255);

}
.contain{display: flex;
    flex-direction: row;}
.item{
    width: 200px
}